<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Camera Permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveEase"
        tools:targetApi="31">
        <activity
            android:name=".AdminWorkerScreen"
            android:exported="false" />
        <activity
            android:name=".AdminReportActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_Reports"
            android:exported="false" /> <!-- FileProvider for handling images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" /> <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScrren"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Authentication Activities -->
        <activity
            android:name=".SignActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" /> <!-- Main Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Pothole_main"
            android:exported="true" /> <!-- Admin Activities -->
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".Admin_SignUp"
            android:exported="false" />
        <activity
            android:name=".Admin_Signin"
            android:exported="false" /> <!-- Officer Activities -->
        <activity
            android:name=".OfficerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Other Activities -->
        <activity
            android:name=".SDOScreen"
            android:exported="false" />
        <activity
            android:name=".RoleAssignment"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
    </application>

</manifest>